.star-rating {
    display: flex;
    flex-direction: row;
}

.star {
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s;
}

.star:hover {
    color: #a5a5a5;
}

.star.selected {
    color: #f5b301;
}

.star.selected:hover {
    color: #c28e00;
}

.review-history {
    margin-top: 20px;
}

.review-item {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.admin-reply {
    margin-top: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    border-left: 5px solid #f5b301;
}

.admin-replies {
    margin-top: 10px;
    padding-left: 20px;
    border-left: 2px solid #f0f0f0;
}

.reply-item {
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    margin-bottom: 10px;
}

.review-item {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.rw-review-form form {
    display: flex;
    flex-direction: column;
}

.rw-review-form form button {
    padding: 10px;
    border: none;
    color: white;
    background-color: rgb(61, 112, 252);
}

.rw-review-form form button:hover {
    background-color: rgb(45, 78, 172);
}