.settings-menu-1 {
    align-content: center;
    box-sizing: border-box;
    height: 34%;
}

.customer-settings {
    padding: 0 5px;
    box-sizing: border-box;
    justify-self: center;
    height: 88%;
    width: 92%;
    border-radius: 15px;
    background-color: white;
}

.customer-settings a, .customer-tools a {
    display: flex;
    justify-items: center;
    margin: 0;
    padding: 8px 0;
    width: 100%;
    color: black;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

.customer-settings ion-icon, .customer-tools ion-icon {
    align-self: center;
    font-size: 18px;
    margin: 0 6px 0 2px;
    margin-top: -1px;
    padding: 0;
}

#icon-logout {
    margin: -1px 4px 0 4px;
}

.customer-settings a:hover, .customer-tools a:hover {
    color: blue;
}

.customer-settings ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    /* Removes the dot before the menu */
    margin: 0;
    background-color: none;
    padding: 0;
}

.customer-settings li {
    width: 100%;
}

.settings-menu-2 {
    box-sizing: border-box;
    height: 59%;
}

.settings-menu-2 h2 {
    margin: 0;
    padding: 0;
    padding: 0 10px;
    font-size: 18px;
    color: white;
}

.customer-tools {
    box-sizing: border-box;
    padding: 0 5px;
    justify-self: center;
    height: 30%;
    width: 92%;
    border-radius: 15px;
    background-color: white;
}

.customer-tools ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    /* Removes the dot before the menu */
    margin: 0;
    background-color: none;
    padding: 0;
}

.customer-tools li {
    width: 100%;
}
/*
#nav-settings {
    background-color: white;
}

#nav-settings-icon:hover {
    font-size: xx-large;
    color: blue;
}

*/

