.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 50px 0 0;
}

.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 15px;
    height: 90%;
    width: 40%;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    background-color: white;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.26);
    border-radius: 7px;
}

.image-container p {
    width: 100%;
    font-weight: bold;
}

.image-holder {
    position: relative;
    margin: 10px 0;
    width: 40%;
    aspect-ratio: 1/1;
}

.image-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.image-content img {
    width: 100%;
    aspect-ratio: 1/1;
}

.profile-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0 0;
}

.profile-info p:nth-child(1) {
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal.active {
    display: flex;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
}

.pe-two form {
    width: 100%;
}

.pe-two form input {
    width: 100%;
}

.pe-two .modal-actions {
    margin-top: 5px;
}

.modal-actions {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.delete-button {
    width: fit-content;
    margin-left: auto;
    background: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.delete-button:hover {
    background: darkred;
}

.pe-buttons {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 100%;
    margin-bottom: auto;
}

.pe-buttons p:nth-child(1) {
    margin-bottom: 5px;
    font-weight: bold;
}

.pe-buttons button {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background-color: rgb(240, 240, 240);
}

.pe-buttons button:hover {
    background-color: rgb(204, 204, 204);
}

.pe-buttons button i {
    font-size: medium;
    width: 5%;
    margin-right: 5px;
}

.edit-button {
    position: absolute;
    overflow: visible;
    top: 15px;
    right: 15px;
    color: gray;
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.edit-button:hover {
    color: rgb(80, 80, 80);
}

.edit-profile-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline;
    margin-left: 5px;
    font-size: inherit;
    color: gray;
}

.edit-profile-button:hover {
    color: rgb(80, 80, 80);
}

.pe-submit-button {
    background: rgb(51, 106, 255);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.pe-submit-button:hover {
    background: rgb(42, 90, 223);
}

.pe-cancel-button {
    background: rgb(138, 138, 138);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.pe-cancel-button:hover {
    background: rgb(112, 112, 112);
}

.pe-profile-image-modal {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.pe-preview-image-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/1;
    margin: 10px 0 0;
    overflow: hidden;
    border: 1px solid gray;
}

.pe-profile-image-modal form {
    width: 100%;
}

.pe-profile-image-modal .modal-actions {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.pe-profile-image-modal .modal-actions button:nth-of-type(1) {
    padding: 10px 0;
    border: 2px solid rgb(51, 106, 255) !important;
    color: rgb(51, 106, 255);
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: white;
}

.pe-profile-image-modal .modal-actions button:nth-of-type(1):hover {
    background-color: rgb(238, 238, 238);
}

.pe-profile-image-modal img {
    width: 100%;
    aspect-ratio: 1/1;
}

.pe-modal-three-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: large;
    color: #000;
    cursor: pointer;
}

.pe-modal-three-close-button:hover {
    color: rgb(53, 53, 53)
}