* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 10vh;
    width: 100%;
    background-color: cornflowerblue;
} 

.index-top {
    display: flex;
    align-items: center;
    height: 10%;
    width: 100%;
    padding: 0 2vw;
    background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
}

.index-top-left {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: auto;
    font-family: Verdana, Geneva, "Tahoma", sans-serif;
}

.index-top-left h1 {
    font-size: xx-large;
    color: white;
    cursor: pointer;
}

.index-top-right {
    display: flex;
    align-items: center;
    column-gap: 10px;
    height: 100%;
    width: fit-content; 
}

.index-top-guest a {
    text-decoration: none;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 0.1s ease;
}

#sign-up a {
    color: rgb(255, 255, 255, 0.8);
}

#log-in a {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border-radius: 10px;
    transition: all 0.1s ease;
}

#sign-up a:hover {
    color: rgb(255, 255, 255, 1);
    
}

#log-in a:hover {
    background-color: rgb(255, 255, 255, 0.9);
}

@media (max-width: 639px) {
    .index-top {
        padding: 0 4vw;
    }

    .index-top-left h1 {
        font-size: medium;
    }

    #sign-up a {
        font-size: small;
    }

    #log-in a {
        font-size: small;
        padding: 5px 10px;
        border-radius: 5px;
    }
}