.menu-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    z-index: 1000;
    padding: 0 20px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    background-color: white;
}

.menu-container.active {
    transform: translateX(0);
}

.close-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 10px 0 0;
}

.close-menu ion-icon {
    font-size: xx-large;
    color: black;
    cursor: pointer;
}

.profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    aspect-ratio: 1/1;
    margin-bottom: 10px;
}

.profile-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 3px solid #e6e6e6;
    cursor: pointer;
    overflow: hidden;
}

.profile-holder img  {
    width: 100%;
    aspect-ratio: 1/1;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: rgba(28, 37, 54);
}

.user {
    color: white;
}

.user.member-since {
    font-size: small;
    color: #e6e6e6;
}

.menu-content {
    width: 100%;
    margin-bottom: auto;
    border-top: 1px solid #e6e6e6;
}

.menu-content li {
    padding: 8px 0;
    list-style-type: none;
}

.menu-content a {
    color: #454545;
    font-size: small;
    text-decoration: none;
}

.menu-content i, .menu-content ion-icon {
    margin: 0 10px;
}

.menu-section.logout {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
}

.menu-section.logout a {
    color: white;
    font-size: small;
    text-decoration: none;
}

.logout-container {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #328acf;
}

.menu-section.logout a ion-icon {
    margin: 0 5px 0 0;
    font-size: large;
}



/*

@media (max-width: 639px) {
    .class {
    }
}

.navigation-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    transition: background-color 0.3 ease;
}

.navigation-icon:hover {
    background-color: transparent;
}

.navigation-icon ion-icon {
    font-size: 30px;
    color: rgb(255, 255, 255, 0.8);
}

.navigation-icon ion-icon:hover {
    font-size: xx-large;
    color: rgb(255, 255, 255)
}

.navigation-buttons {
    position: relative;
}
.navigation-buttons::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.navigation-buttons:hover::after {
    transform: scaleX(1);
}

*/