.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8%;
    width: 100%;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    background-color: #328acf;
    background-color: rgba(28, 37, 54);
}

.menu-button-container ion-icon {
    color: white;
    font-size: xx-large;
}

.title-container {
    margin: 0 auto 0 10px;
}

.title-container h1 {
    color: #e6e6e6;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 639px) {
    .title-container h1 {
        color: #e6e6e6;
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
    }
}